body{
  background-color: black;
  overflow: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button{
  border: 0;
  background-color: transparent;
}
h1{
  color: white;
  font-size: 30px;
}
.cover{
  width: 100%;
}
.border {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius:20px;
  width: 500px;
  height: 250px;
  margin-top: 510px;
  margin-left: 800px;
}
.click{
  width: 300px;
  height: 70px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.start{
  position: absolute;
  margin-top: 520px;
  margin-left: 860px;
}
.start:hover,.continue:hover,.end:hover{
  cursor: pointer;
  background-color: rgba(179, 179, 179, 0.394);
  border-radius:20px;
  width: 300px;
  height: 70px;
}
.continue{
  position: absolute;
  margin-top: 590px;
  margin-left: 860px;
}
.end{
  position: absolute;
  margin-top: 660px;
  margin-left: 860px;
}
h2{
  color: #FFF6F6;
  text-align: center;
  margin-top: 25%;
  font-family: Jua;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.explanation-output{
  color: #FFF6F6;
  font-family: Jua;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: pre-wrap;
  margin-top: 25%;
}






.hi{
  position: absolute;
  z-index: 1;
  width: 40%;
  left: 35%;
  bottom: 20%;
}
.chilly{
  position: absolute;
  z-index: 1;
  width: 40%;
  left: 20%;
  bottom: 20%;
}
.happyhand{
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 5%;
  top:13%;
}
.helthtecher{
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  left: 5%;
  bottom: 20%;
}
.oneman{
  position: absolute;
  z-index: 2;
  width: 40%;
  left: 59.5%;
  bottom: 20%;
}
.helthch{
  display: none;
  position: absolute;
  z-index: 2;
  width: 25%;
  left: 50%;
  bottom: 20%;
}
.happyside{
  display: none;
  position: absolute;
  z-index: 1;
  width: 40%;
  left: 20%;
  bottom: 20%;
}
.backher{
  position: absolute;
  z-index: 1;
  width: 20%;
  left: 30%;
  bottom: 20%;
}
.backhim{
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 40%;
  bottom: 20%;
}
.nice{
  position: absolute;
  z-index: 1;
  width: 30%;
  left: 40%;
  bottom: 20%;
}
.hansomech{
  position: absolute;
  z-index: 2;
  width: 25%;
  left: 0%;
  bottom: 20%;
}
.angry{
  position: absolute;
  z-index: 1;
  width: 30%;
  left: 40%;
  bottom: 27%;
}
.dumdum{
  position: absolute;
  z-index: 1;
  width: 30%;
  left: 15%;
  bottom: 27%;
}
.pack{
  display: none;
  position: absolute;
  z-index: 2;
  width: 35%;
  left: 10%;
  bottom: 15%;
}
.car{
  position: absolute;
  z-index: 2;
  width: 42%;
  left: 5%;
  bottom: 5%;
}
.sucsucsu{
  position: absolute;
  z-index: 2;
  width: 50%;
  left: 40%;
  bottom: 15%;
}
.donthappyside{
  display: none;
  position: absolute;
  z-index: 2;
  width: 40%;
  left: 30%;
  bottom: 25%;
}
.happysu{
  position: absolute;
  z-index: 2;
  width: 45%;
  left: 40%;
  bottom: 25%;
}
.facker{
  position: absolute;
  z-index: 2;
  width: 30%;
  left: 20%;
  bottom: 25%;
}
.cookfacker{
  position: absolute;
  z-index: 2;
  width: 60%;
  left: 50%;
  bottom: 10%;
}
.proipanfacker{
  display: none;
  position: absolute;
  z-index: 2;
  width: 75%;
  left: 24.4%;
  bottom: 25%;
}
.chbuojumteacher{
  display: none;
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 20%;
  bottom: 25%;
}
.imsiwanfront{
  position: absolute;
  z-index: 2;
  width: 25%;
  left: 20%;
  bottom: 27%;
}
.singimsiwan{
  display: none;
  position: absolute;
  z-index: 2;
  width: 56%;
  left: 20%;
  bottom: 28%;
}
.singdumdum{
  display: none;
  position: absolute;
  z-index: 1;
  width: 30%;
  left: 15%;
  bottom: 27%;
}
.handimsiwanher{
  position: absolute;
  z-index: 1;
  width: 25%;
  left: 30%;
  bottom: 27%;
}
.onehartimsiwan{
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 25%;
  bottom: 27%;
}
.harther{
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 40%;
  bottom: 27%;
}
.onegang{
  position: absolute;
  z-index: 2;
  width: 40%;
  left: 60%;
  bottom: 27%;
}
.ganggu{
  display: none;
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 25%;
  bottom: 0;
}


.text{
  position:absolute;
  z-index: 10;
  left: 1%;
  width: 98%;
  border-radius:30px;
  top:71%;
}
.name{
  position:absolute;
  color: black;
  z-index: 100;
  top:70.5%;
  left: 3%;
  font-family: "PF Stardust Bold";
}
h1.story-text{
  display: none;
}
.story{
  position:absolute;
  z-index: 100;
  color: #000000;
  font-family: "PF Stardust Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: pre-wrap;
  left:50%;
  transform: translateX(-50%);
  top: 80%;
}
.threechoice{
  display: none;
  position:absolute;
  z-index: 10;
  left: 1%;
  width: 98%;
  border-radius:30px;
  top:71%;
}
.threechoicebutton{
  display: none;
  z-index: 100;
  border: 0;
  background-color: transparent;
  font-family: "PF Stardust Bold";
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #FD92C3;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.choice1, .choice2, .choice3 {
  display: none;
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.twochoice1, .twochoice2 {
  display: none;
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.choice1 button.threechoicebutton:hover,
.choice2 button.threechoicebutton:hover,
.choice3 button.threechoicebutton:hover {
  border-radius: 20px;
  background-color: #FD92C3;
  color: #FFFFFF;
}
.twochoice1 button.threechoicebutton:hover,
.twochoice2 button.threechoicebutton:hover{
  border-radius: 20px;
  background-color: #FD92C3;
  color: #FFFFFF;
}
.choice1{
  z-index: 100;
  position: absolute;
  margin-top: 630px;
  margin-left: 10%;
}
.choice2{  
  z-index: 100;
  position: absolute;
  margin-top: 630px;
  margin-left: 40%;
}
.twochoice1{
  z-index: 100;
  position: absolute;
  margin-top: 630px;
  margin-left: 10%;
}
.twochoice2{
  z-index: 100;
  position: absolute;
  margin-top: 630px;
  margin-left: 50%;
}
.choice3{
  z-index: 100;
  position: absolute;
  margin-top: 630px;
  margin-left: 70%;
}
.threechoicebutton:disabled {
  border-radius: 20px;  
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.8;
}
.threechoicebutton:not(:disabled):hover {
  border-radius: 20px;
  background-color: #FD92C3;
  color: #FFFFFF;
}
.choice1 button.threechoicebutton:not(:disabled):hover,
.choice2 button.threechoicebutton:not(:disabled):hover,
.choice3 button.threechoicebutton:not(:disabled):hover {
  border-radius: 20px;
  background-color: #FD92C3;
  color: #FFFFFF;
}
.twochoice1 button.threechoicebutton:not(:disabled):hover,
.twochoice2 button.threechoicebutton:not(:disabled):hover{
  border-radius: 20px;
  background-color: #FD92C3;
  color: #FFFFFF;
}
.scene2, .scene3, .scene4, .scene5, .scene6, .scene7, .scene8, .scene9, .scene10, .scene11, .scene12, .scene13, .scene14,.scene15, .scene16,.scene18,
.scene19,.scene20,.scene21,.scene22,.scene23,.scene24,.scene25,.scene26,.scene27,.scene28,.scene29,.scene30,.scene31,.scene32,.scene33,.scene34,
.scene35,.scene36,.scene37,.scene38,.scene39,.scene40,.scene41,.scene42,.scene43,.scene44,.scene45,.scene46,.scene47,.scene48,.scene49,.scene50,.scene51,
.scene52,.scene53,.scene54,.scene55,.scene56 {
  display: none;
}


#quizBox {
  width: 500px;
  margin: 60px auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-family: 'Jua', sans-serif;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.quiz-question {
  font-size: 20px;
  margin-bottom: 10px;
}

#quizImage {
  max-width: 200px;
  margin: 20px 0;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 20px 0;
  padding: 0 20px;
  color: #333;
}

#quizAnswerInput {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 8px;
  margin-bottom: 10px;
}

#quizBox button {
  background-color: #4C46FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

#quizBox button:hover {
  background-color: #2c2bbb;
}
#quizResult {
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 48px;
  font-weight: bold;
  margin-top: 100px;
}

.success {
  color: #00ffcc;
  font-family: "PF Stardust Bold";
  font-size: 60px;
  margin-top: 25%;
}

.fail {
  color: red;
  font-family: "PF Stardust Bold";
  font-size: 60px;
  margin-top: 25%;
}